@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,300;1,400&display=swap');

html, body, * {
  padding: 0;
  margin: 0;
  
  font-family: 'Source Sans Pro', sans-serif;
}
html, body {
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a.hoverable:hover {
  text-decoration: underline;
  color: #0063a0;
}